{% extends "../base.html" %}

{% block css %}
<link href="/static/css/lib/bootstrap.css" rel="stylesheet">
<link href="/static/css/lib/material.css" rel="stylesheet">
{% endblock %}

{% block main %}
	{% for item in data.content %}
	<p>姓名：<span>{{ item.student }}</span>课程名:{{ item.className }}</p>
	{% endfor %}
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	  Button
	</button>
{% endblock %}

{% block js %}
<script src="/static/js/lib/material.js"></script>
{% endblock %}